<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.snake.dao.UserMapper">
<!--    插入数据-->
    <insert id="insertUser" parameterType="user">
        insert User(username,password) Values(#{username},#{password})
    </insert>
    <!--
        查找用户
    -->
    <select id="findUserByUser" parameterType="user" resultType="user">
        SELECT uid,username,password FROM User
        <where>
<!--            根据uid查询用户-->
            <if test="uid != 0">
                and uid = #{uid}
            </if>
<!--            根据用户名查找用户 -->
            <if test="username != null">
                and username = #{username}
            </if>
<!--            根据账号密码查询用户-->
            <if test="username != null and password != null">
                and username = #{username} and password = #{password}
            </if>
        </where>
    </select>

</mapper>