.window {
    position: absolute;
    width: 1000px;
    height: 800px;
    background-color: pink;
    top: 50%;
    left: 50%;
    margin-top: -400px;
    margin-left: -500px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 6px 0px;
    /* 圆角 */
    border-radius: 30px;
    /* 溢出 */
    overflow: hidden;
}

.aside {
    float: left;
    width: 200px;
    height: 800px;
    background-color: green;
}

.aside .me {
    position: relative;
    width: 200px;
    height: 100px;
    background-color: cadetblue;
}

.aside .myFriend {
    width: 200px;
    height: 700px;
    background-color: white;
}

.box {
    float: left;
    width: 800px;
    height: 800px;
    background-color: white;
}

.box .header {
    position: relative;
    width: 800px;
    height: 100px;
    border-bottom: 1px solid rgb(235, 235, 235);
}

.box .talk-window {
    width: 800px;
    height: 500px;
}

.box .input-window {
    position: relative;
    width: 800px;
    height: 200px;
    background-color: aqua;
}

.userImg {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    top: 20%;
    left: 50%;
    margin-left: -25px;
}

.user {
    position: absolute;
    width: 200px;
    top: 79px;
    left: 50%;
    text-align: center;
    margin-left: -100px;
    background-color: red;
}

/* 用户和好友样式设置 */
#userMsg,
.friendMsg {
    cursor: pointer;
}

.friendtitle {
    text-align: center;
    height: 30px;
    color: green;
    border: 1px solid green;
    line-height: 30px;
}

.Friends {
    width: 200px;
    height: 670px;
    overflow-x: hidden;
    overflow-y: auto;
}

.friend {
    position: relative;
    width: 200px;
    height: 50px;
    border-bottom: 1px solid rgb(235, 235, 235);
}

.friendImg {
    float: left;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin-left: 20px;
    margin-top: 5px;
    border: 1px solid red;
}

.friend .friendMsg {
    float: left;
    margin-left: 10px;
    line-height: 50px;
}

.mask {
    display: none;
}

.offline .mask {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    width:  200px;
    height: 50px;
    background-color: rgba(82, 76, 76, 0.4);
}
.offline .friend{
    color: gray;
}

/* 输入框部分样式 */
#message-input {
    width: 100%;
    height: 100%;
    /* 去除边框 */
    outline: none;
    /* 去除三角 */
    resize: none;
    font-size: 20px;
    color: black;
    border: 0px;
    border-top: 1px solid #ebebeb;
    border-left: 1px solid rgb(235, 235, 235);

}

#msgSendBtn {
    position: absolute;
    top: 150px;
    right: 50px;
    width: 100px;
    height: 40px;
    background-color: skyblue;
    border: 1px solid rgba(0, 0, 0, 0.4);
    box-shadow: 0px 1px 5px 0px
}

/* 用户消息部分布局 */
.messages {
    width: 800px;
    height: 500px;
    overflow: auto;
    border-left: 1px solid rgb(235, 235, 235);
    /* 设置文字大小 */
    font-size: 20px;
}

.now-time {
    text-align: center;
    margin-bottom: 10px;
}

.headImg {
    width: 40px;
    height: 40px;
    border: 1px solid black;
    border-radius: 20px;
}

.message {
    position: relative;
    top: -30px;
    left: 50px;
    /* todo js代码动态设置宽度 */
    width: fit-content;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(18, 183, 245);
}

.myself .headImg {
    position: relative;
    display: inline-block;
    top: 0px;
    right: -750px;
}

.msg.myself .message {
    left: -55px;
    /* 向左增长 */
    margin: 0 0 0 auto;
}

/* 滚动条 */
/* 滚动条整体 */
/* 滚动条整体 */
.scroll-container::-webkit-scrollbar {
    height: 5px;
    width: 5px;
}

/* 滚动条滑块 */
.scroll-container::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #535353;
}

/* 滚动条轨道 */
.scroll-container::-webkit-scrollbar-track {
    border-radius: 10px;
    background: #ededed;
}
/* 聊天框顶部 */
.welcome{
    width: 500px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    font-size: 50px;
}
.musicPlayer{
    position: relative;
    top: -100px;
    left: 500px;
    width: 300px;
    height: 100px;
    /* background-color: pink; */
    border-left: 1px solid rgb(235,235,235);
}
.musicImg{
    position: absolute;
    top: 50%;
    left: 0px;
    margin-top: -40px;
    width: 80px;
    height: 80px;
    border-radius: 40px;
    border: 1px solid green;
}
.musicBtn{
    position: absolute;
    top: 50%;
    left: 30px;
    margin-top: -13px;
    width: 30px;
    height: 30px;
    opacity: 0.4;
}
audio{
    position: absolute;
    top: 50%;
    right: 0px;
    margin-top: 10px;
    width: 20px;
    height: 35px;
    z-index: 999;
    background-color: pink;
}
.musicMsg{
    position: absolute;
    top: 20px;
    right: 10px;
    width: 200px;
    height: 50px;
    text-align: center;
}
.nextMusic{
    position: absolute;
    top: 50px;
    left: 0px;
    width: 200px;
    height: 20px;
}